<test-directive paypal="paypal"></test-directive>
<section  class="homepage-slider" id="home-slider">
  <div class="flexslider" flexslider>
    <ul class="slides">
      <li>
        <img src="https://firebasestorage.googleapis.com/v0/b/boomairsoft-b2e78.appspot.com/o/resource%2Fboom_banner1.jpg?alt=media&token=3e8df6f3-da03-4c32-a769-57b42833e4e7" alt="" />
      </li>
      <li>
        <img src="https://firebasestorage.googleapis.com/v0/b/boomairsoft-b2e78.appspot.com/o/resource%2Fboom_banner2.jpg?alt=media&token=8d3d5257-b265-4320-9743-69dd0cb8f440" alt="" />
        <div class="intro">
          <h1>Mid season sale</h1>
          <p><span>Up to 50% Off</span></p>
          <p><span>On selected items online and in stores</span></p>
        </div>
      </li>
    </ul>
  </div>
</div>
</section>
<section class="header_text">
  <!-- placeholder placeholder placeholder placeholder placeholder placeholder -->
  <!-- <br/>placeholder2 placeholder2 -->
</section>
<section class="main-content" >
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span12">
          <h4 class="title">
            <span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
            <!-- <span class="pull-right">
              <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
            </span> -->
          </h4>
          <div id="myCarousel" class="myCarousel carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <ul class="thumbnails">
                  <li class="span3" ng-repeat="item in list" ng-show="$index<20">
                    <div class="product-box">
                      <span class="sale_tag"></span>
                      <p><a href="#!items/{{item.name}}"><img ng-src="{{item.image}}" alt=""/></a></p>
                      <a href="product_detail.html" class="title">{{item.name}}</a><br/>
                      <a href="products.html" class="category">{{item.description}}</a>
                      <p class="price">{{item.price}}</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="span12">
          <h4 class="title">
            <span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
          </h4>
          <div id="myCarousel-2" class="myCarousel carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <ul class="thumbnails">
                  <li class="span3" ng-repeat="item in list" ng-show="$index<4">
                    <div class="product-box">
                      <span class="sale_tag"></span>
                      <p><a href="#!items/{{item.name}}"><img ng-src="{{item.image}}" alt=""/></a></p>
                      <a href="product_detail.html" class="title">{{item.name}}</a><br/>
                      <a href="products.html" class="category">{{item.description}}</a>
                      <p class="price">{{item.price}}</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
