			<section class="main-content">

				<div class="row">
					<div class="span12">
						<ul class="thumbnails listing-products">
							<li class="span3" ng-repeat="item in products">
								<div class="product-box">
									<span class="sale_tag"></span>
									<a href="#!items/{{item.name}}"><img alt="" ng-src="{{item.image}}"></a><br/>
									<a href="product_detail.html" class="title">{{item.name}}</a><br/>
									<a href="#" class="category">{{item.description}}</a>
									<p class="price">${{item.price}}</p>
								</div>
							</li>
						<hr>
						<div class="pagination pagination-small pagination-centered">
							<ul>
								<li><a href="#">Prev</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4s</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div>
					</div>
			</section>
