<section class="header_text sub">
<!-- <img class="pageBanner" src="themes/images/pageBanner.jpg" alt="New products" > -->
	<h4><span>Product Detail</span></h4>
	<a ng-show="isAdminLogin" href="#!items/{{detailItem.name}}" >Edit</a>
</section>
<section class="main-content">
	<div class="row">
		<div class="span9">
			<div class="row">
				<div class="span4">
					<a href="themes/images/ladies/1.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 1"><img alt="" ng-src="{{detailItem.image}}"></a>
					<ul class="thumbnails small">
						<li class="span1">
							<a href="themes/images/doge.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="themes/images/doge.jpg" alt=""></a>
						</li>
						<li class="span1">
							<a href="themes/images/doge.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 3"><img src="themes/images/doge.jpg" alt=""></a>
						</li>
						<li class="span1">
							<a href="themes/images/doge.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 4"><img src="themes/images/doge.jpg" alt=""></a>
						</li>
						<li class="span1">
							<a href="themes/images/doge.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 5"><img src="themes/images/doge.jpg" alt=""></a>
						</li>
					</ul>
				</div>
				<div class="span5">
					<address>
						<strong>Name:</strong> <span>{{detailItem.name}}</span><br>
						<strong>Product Code:</strong> <span>Product 14</span><br>
						<strong>Reward Points:</strong> <span>0</span><br>
						<strong>Availability:</strong> <span>Out Of Stock</span><br>
					</address>
					<h4><strong>Price: ${{detailItem.price}}</strong></h4>
				</div>
				<div class="span5">
					<form class="form-inline">
						<label class="checkbox">
							<input type="checkbox" value=""> Option one is this and that
						</label>
						<br/>
						<label class="checkbox">
							<input type="checkbox" value=""> Be sure to include why it's great
						</label>
						<p>&nbsp;</p>
						<label>Qty:</label>
						<input type="text" class="span1" placeholder="1">
						<button class="btn btn-inverse" type="submit" ng-click="addToCartClick()" >Add to cart</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="span9">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a href="#home">Description</a></li>
						<li class=""><a href="#profile">Additional Information</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="home">{{detailItem.description}}</div>
						<div class="tab-pane" id="profile">
							<table class="table table-striped shop_attributes">
								<tbody>
									<tr class="">
										<th>Size</th>
										<td>Large, Medium, Small, X-Large</td>
									</tr>
									<tr class="alt">
										<th>Colour</th>
										<td>Orange, Yellow</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="span9">
					<br>
					<h4 class="title">
						<span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel-1" class="carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails listing-products">
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<a href="product_detail.html"><img alt="" src="themes/images/doge.jpg"></a><br/>
											<a href="product_detail.html" class="title">In progress</a><br/>
											<a href="#" class="category">In progress</a>
											<p class="price">In progress</p>
										</div>
									</li>
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<a href="product_detail.html"><img alt="" src="themes/images/doge.jpg"></a><br/>
											<a href="product_detail.html" class="title">In progress</a><br/>
											<a href="#" class="category">In progress</a>
											<p class="price">In progress</p>
										</div>
									</li>
									<li class="span3">
										<div class="product-box">
											<a href="product_detail.html"><img alt="" src="themes/images/doge.jpg"></a><br/>
											<a href="product_detail.html" class="title">In progress</a><br/>
											<a href="#" class="category">In progress</a>
											<p class="price">In progress</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails listing-products">
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<a href="product_detail.html"><img alt="" src="themes/images/doge.jpg"></a><br/>
											<a href="product_detail.html" class="title">In progress</a><br/>
											<a href="#" class="category">In progress</a>
											<p class="price">In progress</p>
										</div>
									</li>
									<li class="span3">
										<div class="product-box">
											<a href="product_detail.html"><img alt="" src="themes/images/doge.jpg"></a><br/>
											<a href="product_detail.html">In progress</a><br/>
											<a href="#" class="category">In progress</a>
											<p class="price">In progress</p>
										</div>
									</li>
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<a href="product_detail.html"><img alt="" src="themes/images/doge.jpg"></a><br/>
											<a href="product_detail.html" class="title">In progress</a><br/>
											<a href="#" class="category">In progress</a>
											<p class="price">In progress</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span3 col">
			<div class="block">
			<div class="block">
				<h4 class="title">
					<span class="pull-left"><span class="text">Randomize</span></span>
					<span class="pull-right">
						<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
					</span>
				</h4>
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="active item">
							<ul class="thumbnails listing-products">
								<li class="span3">
									<div class="product-box">
										<span class="sale_tag"></span>
										<a href="product_detail.html"><img alt="" src="themes/images/doge.jpg"></a><br/>
										<a href="product_detail.html" class="title">In progress</a><br/>
										<a href="#" class="category">In progress</a>
										<p class="price">In progress</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="item">
							<ul class="thumbnails listing-products">
								<li class="span3">
									<div class="product-box">
										<a href="product_detail.html"><img alt="" src="themes/images/doge.jpg"></a><br/>
										<a href="product_detail.html" class="title">In progress</a><br/>
										<a href="#" class="category">In progress</a>
										<p class="price">In progress</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="block">
				<h4 class="title"><strong>Best</strong> Seller</h4>
				<ul class="small-product">
					<li>
						<a href="#" title="In progress">
							<img src="themes/images/doge.jpg" alt="In progress">
						</a>
						<a href="#">In progress</a>
					</li>
					<li>
						<a href="#" title="In progress">
							<img src="themes/images/doge.jpg" alt="In progress">
						</a>
						<a href="#">LIn progress/a>
					</li>
					<li>
						<a href="#" title="In progress">
							<img src="themes/images/doge.jpg" alt="In progress">
						</a>
						<a href="#">In progress</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
